@import '../variables';

.activated-menu-item {
  color: $text-light;
  svg {
    stroke: $text-light !important;
  }
}

.small-size-board-panel {
  min-width: 96px;
  max-width: 96px;
}

.rotate-180 {
  transform: rotate(180deg);
}
