$background: #0b091a;
$background-lighter: #0d0b1c;
$active: #7d67ff;
$text-light: #e1dfec;
$background-light: #1b1837;
$text-positive: #3edd87;
$text-negative: #f46565;
$text-deactive: rgba(225, 223, 236, 0.5);
