@import './variables';

@import './components/BoardMenu.scss';
@import './components/GridTable.scss';

body {
  margin: 0;
  height: 100vh;
  background-color: $background;
  font-family: 'DM Sans';
  color: $text-light;
}

svg {
  stroke: $text-light;
}
